---
layout: default

---

<!-- One -->
<section id="one">
    <header class="major">
        <h2>
            About myself<br />
            <!--magna sed accumsan arcu neque.</h2>-->
    </header>
    <p>Compliance, data, fintech, web3 and art?</p>

    <p>Can't settle on one thing yet, because there is so much to learn! </p>
       <!--  Portfolio projects on data, machine learning, web scraping,
        web development, natural language processing and more.  -->

    
    <ul class="actions buttonRight">
        <li><a href="#contact" class="button smooth-goto">Contact me</a></li>
    </ul>
</section>

<!-- Two -->
<section id="two">
    <h2>My Projects</h2>
    <div class="row">

        {% for post in site.posts %}
        <article class="col-6 col-12-xsmall work-item">
            <a href="{{ post.url }}" class="image fit thumb"><img src="/assets/images/posts/{{ post.filename }}" alt="" /></a>

            <h3>{{ post.title }}</h3>

            <h6 style="display:inline"><a href="#" class="badge badge-primary"> {{ post.categories }} </a></h6>

       
            <!--{% assign all_categories = post.categories | split: ',' %}
 
            {% for cat in all_categories %}
            <h6 style="display:inline"><a href="#" class="badge badge-warning"> {{ cat }}</a></h6>
            {% endfor %}-->


        </article>
        {% endfor %}

    </div>
</section>

<!-- Contact -->
<section id="contact">
    <h2>Get In Touch</h2>
    <p> </p>
    <div class="row">
        <div class="col-12 col-12-small">
            <form method="post" action="#">
                <div class="row gtr-uniform gtr-50">
                    <div class="col-6 col-12-xsmall"><input type="text" name="name" id="name" placeholder="Name" /></div>
                    <div class="col-6 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Email" /></div>
                    <div class="col-12"><textarea name="message" id="message" placeholder="Message" rows="4"></textarea></div>
                </div>
            </form>
            <ul class="actions buttonRight">
                <li><input type="submit" value="Send Message" /></li>
            </ul>
        </div>
        <!-- <div class="col-4 col-12-small">
            <ul class="labeled-icons">
                <li>
                    <h3 class="icon solid fa-home"><span class="label">Address</span></h3>
                    Singapore
                </li>
                <li>
                    <h3 class="icon solid fa-mobile-alt"><span class="label">Phone</span></h3>
                    -
                </li>
                <li>
                    <h3 class="icon solid fa-envelope"><span class="label">Email</span></h3>
                    <a href="#">xxx@gmail.com</a>
                </li>
            </ul>
        </div> -->
    </div>
</section>

<ul class="actions buttonRight">
    <li><a href="/#" class="button">Back to top</a></li>
</ul>


<script>
    $('.smooth-goto').on('click', function () {
        $('html, body').animate({ scrollTop: $(this.hash).offset().top - 50 }, 1000);
        return false;
    });

</script>